<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filter by Asset Type
    </mat-panel-title>
    <mat-panel-description>
      Assets
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let asset of filters.assetType">
      <mat-checkbox></mat-checkbox>
      {{asset.name}}
    </mat-list-item>
  </mat-list>
</mat-expansion-panel> -->

<mat-expansion-panel *ngFor="let filter of displayOrder">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{filter.name}}
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let asset of filters[filter.key]">
      <mat-checkbox (change)="onFilterSelect($event)" [(ngModel)]="selectedFilters[filter.key][asset.id]" [checked]="selectedFilters[asset.id]">
        {{asset.name}}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
